.contact{
  background: #434242;
  padding-bottom: 200px;

    .contact-div-1{
      border-bottom: solid 1px rgba(114,120,120, 0.2);
      text-align: center;
      width: 1000px;
      margin: 0 auto;
      h1{
        font-size: 54px;
        color: #018080;
        font-weight: 300;
        padding-top: 50px;
    }
    p{
      font-size: 21px;
      color: #727878;
      margin: 25px 0 10px 0;
      line-height: 1.4;
    }
  }
  .contact-div-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 50px;
    border-bottom: solid 1px rgba(114,120,120, 0.2);
    .contact-social-links{
      cursor: pointer;
      position: relative;
      margin-top: 20px;
      width: 50%;
      height: 50px;
      // background: white;
      a{
        opacity: 0.6;
        i{
          font-size: 35px;
          color: white;
          padding-right: 10px;
        }
        p{
          display: inline-block;
          color: white;
        }
      }

    }
  }
  @media (max-width: 1100px){
    .contact-div-1{
      width: 80%;
    }
    .contact-div-2{
      width: 80%;
      .contact-social-links{
        width: 100%;
        text-align: center;
      }
    }
  }
}
