.top-bg{
  background: no-repeat center right fixed url('./images/Resized Image.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.top-bg-filter{
  height: 100vh;
  background: rgba(0.5,128,128, 0.7);
  position: absolute;
  z-index: 2;
  width: 100%;
  div:first-child{
    position: absolute;
    top: 40%;
    margin-top: -50px;
    left: 0;
    width: 100%;
    // background: yellow;
    text-align: center;
    p:first-child{
      display: inline-block;
      color: white;
      font-size: 63px;
      font-weight: 700;
      height: 80px;
      border-bottom: solid 1px rgba(255,255,255,0.3);
    }
    p:nth-child(2){
      color: white;
      font-size: 23px;
      margin-top: 20px;
    }
    button{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      margin-top: 100px;
      // background: black;
      background: transparentize(black, 0.7);
      border: solid 1px white;
      color: white;
    }
  }
  div:nth-child(2){
    background: blue;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  @media (max-width: 1000px){
    div:first-child{
      p:first-child{
        font-size: 30px;
        height: auto;
      }
    }
  }

}
